examples/workspace-seeds/kestra/flows/r2-taxi-pipeline.yaml
id: r2-taxi-pipeline
namespace: nexus-tutorials
description: |
  Bootstrap + analyse the NYC Taxi 2025 dataset on R2.

  This flow demonstrates a full Data-Engineering loop:
    1. For each month in the `values:` list (default: 2 months,
       Jan-Feb 2025): download the public Yellow-Taxi parquet from
       NYC TLC's CloudFront and upload it into the R2 datalake
       bucket — so every user starts with the same shared data.
    2. Query the months via DuckDB through the S3-compatible R2
       endpoint — no compute cluster, no Spark, no warehouse needed.
    3. Log aggregate stats from the result.

  This file was seeded into your Gitea workspace repo at
  `nexus_seeds/kestra/flows/r2-taxi-pipeline.yaml` (from the
  Nexus-Stack source `examples/workspace-seeds/kestra/flows/`)
  during Initial Setup. Edit the file in Gitea — Kestra picks up the
  change within 15 minutes via `system.flow-sync` (which scans
  `nexus_seeds/kestra/flows/`). Subsequent spin-ups will leave your
  edits untouched (seeding only adds new files, it never overwrites).

  Want the full year? Extend the `values:` list under `bootstrap`
  to ["01" .. "12"]. The default keeps it light: ~120 MB download
  + ~5 M rows queried, vs. ~720 MB / ~30 M rows for the full year.
  Since this is a teaching artefact that runs on every student
  stack on every "Execute", small defaults keep CloudFront egress
  and run time low when a cohort hits the button at the same time.

  Manual trigger only — no `triggers:` block, by Nexus-Stack
  convention for seeded example flows.

labels:
  owner: data-engineering
  source: nexus-stack-seed
  data: nyc-taxi-2025

# ──────────────────────────────────────────────────────────────────────
# NO `triggers:` BLOCK — INTENTIONAL.
#
# Per Nexus-Stack convention (see `examples/README.md`), seeded example
# flows MUST NEVER ship with schedule / cron triggers. Reason: a seeded
# flow lands on EVERY student stack via the deploy.sh seed loop. A cron
# trigger would then fire on N student stacks, multiplying load on
# external APIs (CloudFront, Databricks Free Edition quota), R2 egress
# costs, and Kestra container CPU by the cohort size.
#
# Examples demonstrate *how* something works. Students execute manually
# via the Kestra UI ("Execute" button on the flow page) to learn.
# ──────────────────────────────────────────────────────────────────────

tasks:
  # ---------------------------------------------------------------------
  # 1. Bootstrap: download N monthly parquets from CloudFront, upload
  #    each into R2 under the original filename.
  #
  #    Default: 2 months (Jan-Feb). Edit `values:` to add more.
  #    Sequential (concurrencyLimit: 1) on purpose — each parquet is
  #    ~60 MB and Kestra's container has 4 GB RAM total. Parallel
  #    downloads would risk OOM at higher month counts.
  # ---------------------------------------------------------------------
  - id: bootstrap
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01", "02"]
    concurrencyLimit: 1
    tasks:
      - id: download
        type: io.kestra.plugin.core.http.Download
        uri: "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-{{ taskrun.value }}.parquet"
      - id: upload
        type: io.kestra.plugin.aws.s3.Upload
        endpointOverride: "{{ secret('R2_ENDPOINT') }}"
        region: auto
        accessKeyId: "{{ secret('R2_ACCESS_KEY') }}"
        secretKeyId: "{{ secret('R2_SECRET_KEY') }}"
        bucket: "{{ secret('R2_BUCKET') }}"
        # Write under nexus-tutorials/NYC/ so this seed flow's data
        # is namespaced inside R2 alongside any other tutorials that
        # ship with Nexus-Stack later — keeps the bucket root clean
        # and lets students reason about which dataset belongs to
        # which tutorial without scanning filenames.
        key: "nexus-tutorials/NYC/yellow_tripdata_2025-{{ taskrun.value }}.parquet"
        # Inside a `ForEach`, sibling-task outputs are keyed by the
        # iteration value. `outputs.download.uri` (no key) returns
        # nothing in Kestra v1.0+ → "Unable to find `uri`" Pebble error.
        # Indexing with `[taskrun.value]` selects this iteration's
        # download output.
        from: "{{ outputs.download[taskrun.value].uri }}"

  # ---------------------------------------------------------------------
  # 2. Aggregate stats over all bootstrapped monthly files at once.
  #    DuckDB + httpfs reads the Parquet files directly via S3, no
  #    intermediate copy. The wildcard
  #    `nexus-tutorials/NYC/yellow_tripdata_2025-*.parquet` matches
  #    every month present in R2 — so this query automatically widens
  #    when you extend `values:` above.
  # ---------------------------------------------------------------------
  - id: stats
    type: io.kestra.plugin.jdbc.duckdb.Query
    sql: |
      INSTALL httpfs;
      LOAD httpfs;
      SET s3_endpoint          = '{{ secret('R2_ENDPOINT') | replace({'https://': ''}) }}';
      SET s3_access_key_id     = '{{ secret('R2_ACCESS_KEY') }}';
      SET s3_secret_access_key = '{{ secret('R2_SECRET_KEY') }}';
      SET s3_url_style         = 'path';
      SET s3_use_ssl           = true;

      SELECT
        COUNT(*)                         AS total_trips,
        ROUND(AVG(trip_distance), 2)     AS avg_distance_mi,
        ROUND(AVG(total_amount), 2)      AS avg_fare_usd,
        ROUND(AVG(passenger_count), 2)   AS avg_passengers,
        MIN(tpep_pickup_datetime)        AS earliest_pickup,
        MAX(tpep_pickup_datetime)        AS latest_pickup
      FROM read_parquet(
        's3://{{ secret('R2_BUCKET') }}/nexus-tutorials/NYC/yellow_tripdata_2025-*.parquet'
      );
    fetchType: FETCH_ONE

  # ---------------------------------------------------------------------
  # 3. Pretty-print the aggregated result to the flow execution log.
  # ---------------------------------------------------------------------
  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    message: |
      ─── NYC Taxi 2025 — Quick-Stats ────────────────────────
        Trips:           {{ outputs.stats.row.total_trips }}
        Avg distance:    {{ outputs.stats.row.avg_distance_mi }} mi
        Avg fare:        $ {{ outputs.stats.row.avg_fare_usd }}
        Avg passengers:  {{ outputs.stats.row.avg_passengers }}
        Date range:      {{ outputs.stats.row.earliest_pickup }} → {{ outputs.stats.row.latest_pickup }}
      ────────────────────────────────────────────────────────
